

											<rule name="Door Selector">
												<match url="^catalog/door-selector/(.)" />
												<action type="Rewrite" url="catalog/door-selector/index.html" />
											</rule>

											<rule name="Door Selector share">
												<match url="catalog/door-selector/share" />
												<action type="Rewrite" url="catalog/door-selector/index.html" />
												<conditions>
														<add input="{QUERY_STRING}" pattern="(.*)(d=*)(.*)" />
												</conditions>
											</rule>

											<rule name="Door Selector">
												<match url="^catalog/door-selector/" />
												<action type="Rewrite" url="catalog/door-selector/index.html" />
												<conditions>
													<add input="{URL}" negate="true" pattern="^~/static$" />
													<add input="{URL}" negate="true" pattern="^~/manifest.json$" />
												</conditions>
											</rule>