<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="webConnectionConfiguration" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="webConnectionErrorPages" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<!-- Configuration Settings for the Web Connection Visual Studio Add-in -->
		<add key="FoxProjectBasePath" value="C:\nickels9\dcom\" />
		<add key="WebProjectBasePath" value="C:\nickels9\WEBSITE\" />
		<add key="WebProjectVirtual" value="http://www.webquoin.com/" />
		<!-- Optional PRG launched when VFP IDE launches -->
		<add key="IdeOnLoadPrg" value="" />
		<!-- The default browser used. Blank IE Automation, otherwise specify browser exe path -->
		<add key="WebBrowser" value="" />
		<add key="WebBrowserAlternate" value="c:\program files\mozilla firefox\firefox.exe" />
		<!-- The editor used to edit FoxPro code - blank means FoxPro Editor is used -->
		<add key="FoxProEditor" value="" />
		<add key="_FoxProEditorAlternate" value="C:\Program Files\pspad\pspad.exe" />

	</appSettings>
	<webConnectionConfiguration>
		<!-- NOTE: These settings apply only to the Web Connection Managed Module! -->
		<add key="Timeout" value="60" />
		<add key="PostBufferLimit" value="0" />
		<add key="TempPath" value="c:\temp\portalframework\" />
		<add key="TempFilePrefix" value="WC_" />
		<add key="MessagingMechanism" value="File" />
		<add key="AdminAccount" value="ANY" />
		<add key="AdminPage" value="~/admin/admin.asp" />
		<add key="ExeFile" value="c:\Nickels9\dcom\SkyApps.exe" />
		<add key="UpdateFile" value="" />
		<add key="LogDetail" value="False" />
		<add key="ValidateRequest" value="False" />
		<add key="ComServerProgId" value="SkyApps.SkyAppsServer" />
		<add key="ComServerLoadingMode" value="LoadBased" />
		<add key="ServerCount" value="2" />
		<add key="AutoStartServers" value="False" />
		<add key="MessageDisplayFooter" value="&lt;small>Message generated by Web Connection IIS Connector Module&lt;/small>" />
	</webConnectionConfiguration>
	<webConnectionErrorPages>
		<!-- NOTE: These settings apply only to the Web Connection Managed Module! -->
		<add key="Exception" value="" />
		<add key="OleError" value="" />
		<add key="Timeout" value="" />
		<add key="NoOutput" value="" />
		<add key="Busy" value="" />
		<add key="Maintenance" value="" />
		<add key="InvalidRequestId" value="" />
		<add key="TranmitFileFailure" value="" />
		<add key="PostBufferSize" value="" />
	</webConnectionErrorPages>
	<system.web>
		<compilation defaultLanguage="c#" debug="true">
			<!-- Build Providers enable your script extensions to be editable in Visual Studio -->
			<buildProviders>
				<add extension=".wcsx" type="System.Web.Compilation.PageBuildProvider" />
				<add extension=".wc" type="System.Web.Compilation.PageBuildProvider" />
				<add extension=".wcsx" type="System.Web.Compilation.PageBuildProvider" />
			</buildProviders>
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<!-- Web Connection Managed Module requires that it runs in FULL TRUST -->
		<trust level="Full" />
		<httpHandlers>
			<!-- 
           Web Connection Module enabling in IIS 5 and IIS 6 or IIS 7 non-integrated
           NOTE: you still need to set up scriptmaps to c:\windows\Microsoft .NET\v2.0.50727\aspnet_isapi.dll
      -->
			<!--
      		<add verb="*" path="*.wcsx" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wc" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wcsx" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wcs" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
			<add verb="*" path="*.wwsoap" type="Westwind.WebConnection.WebConnectionHandler,WebConnectionModule"/>
	   -->
			<!-- End pre IIS 7 -->
		</httpHandlers>
	</system.web>
	<!-- IIS 7 Script Map Configuration -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
      <add name="webconnect-nkl" path="*.nkl" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
      <add name="Nickels Process" path="*.nkl" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
			<add name="webconnect-hov" path="*.hov" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
			<add name="webconnect-wwsoap" path="*.wwsoap" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
			<add name="webconnect-wcsx" path="*.wcsx" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
			<add name="webconnect-wcs" path="*.wcs" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
			<add name="webconnect-wc" path="*.wc" verb="*" modules="IsapiModule" scriptProcessor="D:\Nickels9\Website\bin\wc.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="main.wcsx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name="X-UA-Compatible" value="IE=Edge" />
                <add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
                <urlCompression doDynamicCompression="false" />
                <rewrite>
									<rules>

											<rule name="HTTP to HTTPS redirect" stopProcessing="true">
													<match url="(.*)" />
													<conditions>
														<add input="{HTTPS}" pattern="off" ignoreCase="true" />
													</conditions>
													<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
											</rule>

											<rule name="Authenticate" patternSyntax="ExactMatch">
													<match url="API/Authenticate" />
													<action type="Rewrite" url="do.wcsx?p=Authenticate" />
											</rule>

											<rule name="Door Selector">
												<match url="^catalog/door-selector/" />
												<action type="Rewrite" url="catalog/door-selector/index.html" />
												<conditions>
													<add input="{URL}" negate="true" pattern="^~/static$" />
													<add input="{URL}" negate="true" pattern="^~/manifest.json$" />
												</conditions>
											</rule>

                    </rules>
                </rewrite>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
	  	<remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
	</system.webServer>

</configuration>
